<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.3" targetFramework="net461" />
  <package id="DevExpressMvvm" version="15.2.5.0" targetFramework="net461" />
  <package id="NUnit" version="3.2.1" targetFramework="net461" />
  <package id="Prism.Core" version="6.1.0" targetFramework="net461" />
  <package id="Prism.Wpf" version="6.1.1-pre2" targetFramework="net461" />
  <package id="RefactoringEssentials" version="4.1.0" targetFramework="net461" developmentDependency="true" />
  <package id="Thrower" version="2.2.3" targetFramework="net461" />
  <package id="Troschuetz.Random" version="4.0.4" targetFramework="net461" />
  <package id="UpdateControls" version="2.3.2.1" targetFramework="net461" />
</packages>